workflow/agent_workflow_v1.json
{
  "name": "BTK_Agent_v1_TweetRisk",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-220, 0],
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Manuel Tetik (test)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tweet_id, account_name, tweet_text, published_at\nFROM tweets\nWHERE is_processed = false\nORDER BY published_at ASC\nLIMIT 20;"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [0, 0],
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Neon - Tweetleri Oku"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [240, 220],
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Google Gemini"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sen finansal risk analisti bir asistansin. Sana bir tweet veriyorum.\n\nGorevin:\n1. Tweet hangi Borsa Istanbul (BIST) firmasi hakkinda? Firma kodunu bul (orn: THYAO). Belirsizse \"YOK\" yaz.\n2. Tweet'in firma icin ima ettigi riski degerlendir.\n3. 0-100 arasi risk skoru ver (0=risk yok, 100=cok yuksek).\n4. Tek cumle gerekce yaz (Turkce).\n\nSADECE asagidaki JSON formatinda cevap ver, baska HICBIR sey yazma, kod blogu (```) kullanma:\n{\"tweet_id\":\"{{ $json.tweet_id }}\",\"company_code\":\"THYAO\",\"risk_score\":72,\"level\":\"YUKSEK\",\"reason\":\"...\"}\n\nlevel su uclerden biri olmali: DUSUK, ORTA, YUKSEK\n\nTweet ID: {{ $json.tweet_id }}\nHesap: {{ $json.account_name }}\nTweet metni: {{ $json.tweet_text }}",
        "messages": {},
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [240, 0],
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Risk Analiz (Gemini)"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "let raw = $json.text ?? $json.output ?? $json.response ?? '';\nraw = String(raw).trim();\nraw = raw.replace(/^```(json)?/i, '').replace(/```$/, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { tweet_id: null, company_code: 'YOK', risk_score: 0, level: 'BELIRSIZ', reason: 'parse_error: ' + raw.slice(0, 200) };\n}\n\nconst esc = (s) => String(s ?? '').replace(/'/g, \"''\");\n\nreturn {\n  tweet_id: esc(parsed.tweet_id),\n  company_code: esc(parsed.company_code),\n  risk_score: Number(parsed.risk_score) || 0,\n  level: esc(parsed.level),\n  reason: esc(parsed.reason)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 0],
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "JSON Ayikla"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO risk_scores (tweet_id, company_code, risk_score, level, reason, source, created_at)\nVALUES ('{{ $json.tweet_id }}', '{{ $json.company_code }}', {{ $json.risk_score }}, '{{ $json.level }}', '{{ $json.reason }}', 'tweet', now());"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 0],
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Neon - Risk Yaz"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tweets SET is_processed = true\nWHERE tweet_id = '{{ $('JSON Ayikla').item.json.tweet_id }}';"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 0],
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Neon - Islendi Isaretle"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1a1a1a1-0000-0000-0000-000000000001",
              "leftValue": "={{ $('JSON Ayikla').item.json.risk_score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 0],
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Risk Yuksek mi? (>=70)"
    },
    {
      "parameters": {
        "sendTo": "DEGISTIR@ornek.com",
        "subject": "=Yuksek Risk Uyarisi: {{ $('JSON Ayikla').item.json.company_code }}",
        "emailType": "text",
        "message": "=Firma: {{ $('JSON Ayikla').item.json.company_code }}\nRisk Skoru: {{ $('JSON Ayikla').item.json.risk_score }} ({{ $('JSON Ayikla').item.json.level }})\nGerekce: {{ $('JSON Ayikla').item.json.reason }}\n\n-- BTK Agent (otomatik)",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, -100],
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Gmail - Uyari Gonder"
    }
  ],
  "pinData": {},
  "connections": {
    "Manuel Tetik (test)": {
      "main": [[{ "node": "Neon - Tweetleri Oku", "type": "main", "index": 0 }]]
    },
    "Neon - Tweetleri Oku": {
      "main": [[{ "node": "Risk Analiz (Gemini)", "type": "main", "index": 0 }]]
    },
    "Google Gemini": {
      "ai_languageModel": [[{ "node": "Risk Analiz (Gemini)", "type": "ai_languageModel", "index": 0 }]]
    },
    "Risk Analiz (Gemini)": {
      "main": [[{ "node": "JSON Ayikla", "type": "main", "index": 0 }]]
    },
    "JSON Ayikla": {
      "main": [[{ "node": "Neon - Risk Yaz", "type": "main", "index": 0 }]]
    },
    "Neon - Risk Yaz": {
      "main": [[{ "node": "Neon - Islendi Isaretle", "type": "main", "index": 0 }]]
    },
    "Neon - Islendi Isaretle": {
      "main": [[{ "node": "Risk Yuksek mi? (>=70)", "type": "main", "index": 0 }]]
    },
    "Risk Yuksek mi? (>=70)": {
      "main": [[{ "node": "Gmail - Uyari Gonder", "type": "main", "index": 0 }], []]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
