workflow/Aizonai's_RAG_3_version.json
{
  "name": "Aizonai's RAG",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "tweet_text, account_name",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        464,
        -160
      ],
      "id": "1e62d1bc-28c3-4c74-b27c-6bfef2f6cadf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "financial_news"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        48,
        384
      ],
      "id": "5e4abeaf-d42b-4486-91b7-7a52df8e930a",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "UUoqvoHwUEcnQNC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "symbol, headline, content",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        384
      ],
      "id": "bb04a7e4-7111-4ec2-94c4-ae289b2578c1",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc7e8580-8374-4415-a00f-554df88be0a5",
              "name": "={{$json.account_name}}",
              "value": "={{ $json.tweet_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -160
      ],
      "id": "85a78714-7c23-43b6-80bf-e31a3113d456",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a829e83a-9e8f-4085-859c-cf60eedef300",
              "name": "={{ $json.symbol }}",
              "value": "={{ $json.headline }} {{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        384
      ],
      "id": "ff771c82-5a15-4651-affc-bd503fa25f28",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "market_vectors",
          "mode": "list",
          "cachedResultName": "market_vectors"
        },
        "embeddingBatchSize": 768,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        976,
        -208
      ],
      "id": "4bb9e7cd-1470-4638-b1bb-c13ad6f93b05",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "UUoqvoHwUEcnQNC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1008,
        -16
      ],
      "id": "b14d04f9-1077-4047-bc63-a17e0bb65fa3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c59d646-2ccb-4ee8-8f77-8df974d02cc3",
              "leftValue": "={{ $json.is_vektored }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        240,
        -160
      ],
      "id": "1830c1ce-e47f-47c2-b6ca-f74a245c9ba7",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4628569-d55a-4e86-9ba2-8856ec2cdce7",
              "leftValue": "={{ $json.is_vektored }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        208,
        384
      ],
      "id": "f0df7863-9dea-49b5-b78c-3824ed78528d",
      "name": "Filter1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        -16
      ],
      "id": "bb053284-5057-4df7-8b86-c2e7df3d5f21",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "GSI377Odct6RiZ5i",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1008,
        128
      ],
      "id": "e01ff35e-c159-405b-a725-db0d03afc1a0",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "financial_news",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_vektored",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        384
      ],
      "id": "86862154-74c7-4f4e-bdff-1c5545cf1c40",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "UUoqvoHwUEcnQNC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "financial_tweets",
        "filters": {
          "conditions": [
            {
              "keyName": "tweet_id",
              "condition": "eq",
              "keyValue": "={{ $('tweetler').item.json.tweet_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_vektored",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1312,
        -208
      ],
      "id": "ba4ae9b8-7ba5-4c88-984d-86e8a2ccb4f1",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "UUoqvoHwUEcnQNC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "financial_tweets",
        "limit": 200
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        -160
      ],
      "id": "e795efc7-cbe7-4594-94c3-497fdb42f07a",
      "name": "tweetler",
      "credentials": {
        "supabaseApi": {
          "id": "UUoqvoHwUEcnQNC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "market_vectors",
          "mode": "list",
          "cachedResultName": "market_vectors"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        384
      ],
      "id": "1031331c-24be-40c3-86b1-4e9434f5fb85",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "UUoqvoHwUEcnQNC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        592
      ],
      "id": "aa162a49-a10c-475f-a024-54d98328bfac",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "GSI377Odct6RiZ5i",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        944,
        576
      ],
      "id": "b33d204f-8bfb-4225-9403-62384ed698b0",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 1250,
        "chunkOverlap": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        944,
        720
      ],
      "id": "2b0db1a7-95ae-43f5-9489-e0724013600f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        -160
      ],
      "id": "26aee9b2-269d-4a27-80a3-9ac57a333b2e",
      "name": "Schedule for tweets"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        384
      ],
      "id": "3e5730ec-a31c-4ce6-8197-7392b0653d29",
      "name": "Schedule for news"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "tweetler": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Schedule for tweets": {
      "main": [
        [
          {
            "node": "tweetler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule for news": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e1a50305-0b3a-4d41-ac72-186c872f8504",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "006d2c3f0c81281eedf3c58931b2d2d14da60ae3f7026cc0508d888b0863dab9"
  },
  "id": "IvB0KaEvuI6uJr7L",
  "tags": []
}